{% extends "pages/base.html" %}

{% block title %}{{ "Memoir" }}{% endblock %}

{% block content %}
<h1>{{ memoir.author }}</h1>
{% if memoir.start_date %}
    {% if memoir.date_precision == "exact" %}
    <p>{{ memoir.start_date|date:"Y/m/d" }} - {{ memoir.end_date|date:"Y/m/d" }}</p>
    {% else %}
    <p>{{ memoir.start_date|date:"Y" }} - {{ memoir.end_date|date:"Y" }}</p>
    {% endif %}
{% endif %}
<h2>{{ image.page }}</h2>
<div class="image-container">{% if image.image_url %}
    <div class="image">
    <a href="{{ image.image_url }}"><img src="{{ image.image_url }}" alt="Image {{ image.page }} in {{ memoir.author }}"></a></div>
    {% if image.transcription %} 
        <div class="transcription">
            <h2 class="no-margin-top">Transcription</h2>
            {{ image.transcription.text | safe}}
        </div>
    {% endif %}
{% else %}
    <p>No image found.</p>
{% endif %}</div>
{% endblock %}
