{% extends "pages/base.html" %}
{% load static %}
{% load highlight %}

{% block title %}{{ "Memoir" }}{% endblock %}

{% block content %}
<div class="image-layout-container">
    <div class="image-container">{% if image.image_url %}

        <div id="openseadragon-viewer">


        </div>

        <!--  Rotation controls -->
        <div id="ToolbarVertical">
            <a id="rotate-left" href="#rotate-left">
                <div id="RotateLeft" class="NavButton"></div>
            </a>
            <a id="rotate-right" href="#rotate-right">
                <div id="RotateRight" class="NavButton"></div>
            </a>
        </div>

        <!--  These are the regular controls -->
        <div class="interface-area-bottom">
            <div class="toolbar-bottom" style="">

                <a id="home" href="#home">
                    <div id="Home" class="NavButton"></div>
                </a>
                <a id="zoom-in" href="#zoom-in">
                    <div id="ZoomIn" class="NavButton"></div>
                </a>
                <a id="zoom-out" href="#zoom-out">
                    <div id="ZoomOut" class="NavButton"></div>
                </a>
                <a id="full-page" class="full-screen-option" href="#full-page">
                    <div id="FullPage" class="NavButton full-page"></div>
                </a>

            </div>
        </div>

        {% else %}
        <p>No image found.</p>
        {% endif %}
    </div>

    <div class="image-info-container">
        <h1>{{ memoir.author }}</h1>
        {% if memoir.start_date %}
        {% if memoir.date_precision == "exact" %}
        <h3>{{ memoir.start_date|date:"Y/m/d" }} - {{ memoir.end_date|date:"Y/m/d" }}</h3>
        {% else %}
        <h3>{{ memoir.start_date|date:"Y" }} - {{ memoir.end_date|date:"Y" }}</h3>
        {% endif %}
        {% endif %}
        <div class="linkgroup">
        <a href="{% url 'detail_memoir' memoir.id %}">
        <div class="back-button">
           All memoir pages from this author
        </div>
        </a>
        {% if search_query %}
        <a href="{% url 'memoirs' %}{% if search_query %}?query={{ search_query }}&amp;type=transcription{% endif %}">
            <div class="back-button">
                Back to search results
            </div>
        </a>
        {% endif %}
        </div>
        <h4>{{ image.page }}</h4>
        {% if image.transcription %}
        <div class="transcription">
            <h2 class="no-margin-top">Transcription</h2>
            {% if search_query %}
                {{ image.transcription.text |highlight:search_query| safe}}
            {% else %}
                {{ image.transcription.text |safe }}
            {% endif %}
        </div>
        {% else %}
        <p>No transcription available.</p>
        {% endif %}
        {% if request.user.is_authenticated %}
        <div class="edit-button"><a href="https://moravian.dh.gu.se/admin/trxnviewer/memoirimage/{{ image.id }}">Edit
                transcription</a></div>
        {% endif %}
    </div>
</div>

<script>
    window.imageUrl = "{{ image.image_url|escapejs }}";
</script>

{% endblock %}