<form class="search-form" method="get">
    <label for="query" class="hidden">Search query</label>
    <input type="text" id="query" name="query" value="{{ search_query }}">
    <div class="form-controls">
    <label for="type" class="hidden">Search type</label>
    <select id="type" name="type" class="dropdown">
        <option value="author" {% if type == 'author' %}selected{% endif %}>Author</option>
         <option value="transcription" {% if type == 'transcription' %}selected{% endif %}>Transcription</option>
    </select>
    <button type="submit">Search</button>
    </div>
    <a class="popup-button" href="#popup"></a>
</form>
<div id="popup" class="popup">
    <div class="popup-content">
        <a class="popup-close" href="#"></a>
        <h2>How to use the search</h2>
        <p>Search for an author by choosing "Author" in the right side dropdown menu. Search for words in the transcriptions by choosing "Transcription" in the right side dropdown menu. When searching for transcriptions, each occurrence of the search word is highlighted in the search results. You can also type part of a word to find a matching result: e.g. search for "Gud", get results also for "Guds".</p>
    </div>
</div>