psycopg[binary,pool]<3.3
python-dotenv<1.2
Django<5.3
gunicorn<24.0
djangorestframework>=3.16.0, <4
django-cors-headers>=4.7.0, <5
git+https://github.com/gu-gridh/gridh-pages.git@main#egg=gridh_pages
# dev requirements
django-debug-toolbar<5.3